<ion-view title="Impressum" id="page9" class="mySocials">
    <ion-content padding="true" class="has-header">
        <div class="item item-body myImpressum" id="impressum-list-item-container3">
            <div id="impressum-markdown3" style="margin-top:0px;color:#000000;" class="myImpressum">
                <p>
                    <strong>UPENDO.tv</strong>
                </p>

                <p>INFORM!EREN - SELBST &amp; STÄNDIG Meine tagesaktuelle Mediathek für bewusstes Fernsehen!</p>

                <p>Ing. Alexander Ebrahim König
                    <br>Blumenweg 15
                    <br>9201 Krumpendorf
                    <br>Austria</p>

                <p>https://www.upendo.tv https://shop.upendo.tv https://www.facebook.com/UPENDOtv https://www.twitter.com/UPENDOtv https://www.instagram.com/UPENDOtv https://www.minds.com/UPENDOtv https://www.vk.com/UPENDOtv
                </p>

                <p>Mail: &nbsp; office@upendo.tv</p>
            </div>
        </div>
    </ion-content>
</ion-view>