<ion-view title="Radios" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="radios-form3" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Suche z.B. nach Radiosender">
            </label>
        </form>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
    </ion-content>
</ion-view>