<ion-view title="Socials" id="page8" class="mySocials">
    <ion-content padding="true" class="has-header">
        <ion-list id="socials-list7" class="mySocials">
            <ion-item class="item-icon-left" id="socials-list-item17" href="#" onclick="window.open('https://facebook.com/UPENDOtv', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-facebook"></i>facebook.com/UPENDOtv</ion-item>
            <ion-item class="item-icon-left" id="socials-list-item18" href="#" onclick="window.open('https://twitter.com/UPENDOtv', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-twitter"></i>twitter.com/UPENDOtv</ion-item>
            <ion-item class="item-icon-left" id="socials-list-item19" href="#" onclick="window.open('https://www.instagram.com/UPENDOtv', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-instagram"></i>instagram.com/UPENDOtv</ion-item>
            <ion-item class="item-icon-left" id="socials-list-item20" href="#" onclick="window.open('https://www.minds.com/UPENDOtv', '_system', 'location=yes'); return false;">
                <i class="icon ion-ios-lightbulb"></i>minds.com/UPENDO.tv</ion-item>
            <ion-item class="item-icon-left" id="socials-list-item21" href="#" onclick="window.open('https://www.vk.com/UPENDOtv', '_system', 'location=yes'); return false;">
                <i class="icon ion-ios-box"></i>vk.com/UPENDOtv</ion-item>
        </ion-list>
    </ion-content>
</ion-view>